extends layout

block content
    h1 #{title}: #{author.name}
    p= author.lifespan

    if author_books.length
        p #[strong Видаліть наступні книги, перш ніж намагатися видалити цього автора.]
        div(style='margin-left:20px;margin-top:20px')
            h4 Книги
            dl
                each book in author_books
                    dt
                        a(href=book.url) #{book.title}
                    dd #{book.summary}
    else
        p Ви дійсно хочете видалити цього автора?

        form(method='POST' action='')
            div.form-group
                input#authorid.form-control(type='hidden', name='authorid', value=author._id)
            button.btn.btn-primary(type='submit') Видалити
        hr
        p
            a(href=author.url) Скасувати видалення