extends layout

block content
    h1 Автор: #{author.name}
    p #{author.lifespan}

    div(style='margin-left:20px;margin-top:20px')
        h2(style='font-size: 1.5rem;') Книги
        if author_books.length
            dl
                each book in author_books
                    dt
                        a(href=book.url)= book.title
                    //- Виводимо незашифрований HTML для summary, щоб кавички відображались коректно
                    dd!= book.summary
        else
            p У цього автора немає книг.

    hr

    p
        a.btn.btn-danger(href=author.url + '/delete', style='margin-top:15px;') Видалити автора
        a.btn.btn-secondary(href=author.url + '/update', style='margin-top:15px;') Редагувати автора
