extends layout

block content
    h1 Створити екземпляр книги

    if errors
        ul.text-danger
            each error in errors
                li= error.msg

    form(method='POST')
        .form-group
            label(for='book') Книга:
            select#book.form-control(name='book' required)
                option(value='') -- Будь ласка, виберіть книгу --
                each book in book_list
                    if typeof selected_book !== 'undefined' && book._id.toString() === selected_book.toString()
                        option(value=book._id selected)= book.title
                    else
                        option(value=book._id)= book.title

        .form-group
            label(for='imprint') Видавництво:
            input#imprint.form-control(type='text', name='imprint', required, value= bookinstance && bookinstance.imprint ?
                bookinstance.imprint : '')

        .form-group
            label(for='status') Статус:
            select#status.form-control(name='status' required)
                each val in ['Maintenance', 'Available', 'Loaned', 'Reserved']
                    if bookinstance && bookinstance.status === val
                        option(value=val selected)= val
                    else
                        option(value=val)= val

        .form-group
            label(for='due_back') Дата повернення:
            input#due_back.form-control(type='date', name='due_back', value= bookinstance && bookinstance.due_back ?
                bookinstance.due_back.toISOString().substring(0,10) : '')

        button.btn.btn-primary(type='submit') Зберегти
